* {
  background-color: rgb(211, 134, 103);
}



button {
  border: black 1px solid;
  border-radius: 12px;
  height: 50px;
  width: 120px;
  background-color: rgb(255, 230, 200);
  font-size: 1.2em;
  display: grid;
  align-items: center;
  justify-content: center;
  margin: auto auto;
  cursor: pointer;
}

button:hover {
  box-shadow: 3px 3px 5px #000000;
  background-color: rgb(224, 159, 133);
  cursor: pointer;
}

button:active {
  background-color: rgb(185, 107, 76);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

h1 {
  margin-top: 320px;
  font-size: 3em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'RocknRoll One', sans-serif;
  text-transform: uppercase;
}
